# Rust / Cargo
target/
Cargo.lock

# IDE
.vs/
.vscode/
*.sln
*.suo
*.user
.idea/
*.iml
rf/

# OS
Thumbs.db
.DS_Store

# Runtime generated
*.rom
*.nes
*.fds
.recent_roms

# Config
dip.cfg

# Personal build script
ver_packager.ps1

# Docs
readme.txt
